*~
*.pyc
dist/
build/
.idea/
.vscode/
tensorflow_recommenders_addons.egg-info/

.DS_Store

artifacts/# File patterns to ignore; see `git help ignore` for more information.
# Lines that start with '#' are comments.

*.whl
/bazel-bin/
/bazel-out/
/bazel-recommenders-addons/
/bazel-testlogs/
/tensorflow_recommenders_addons/dynamic_embedding/core/*.so

bazel-genfiles
/pip-wheel-metadata/

.bazelrc

FeatureServing
/.idea/
CmakeLists.txt
/cmake-build-debug/
log.txt
find.py
file.txt
dir.txt
pkid_mapping.json
pk.txt
test.py
external
external.tar.gz
jce_src
include
laplace
bazel*
